flowmain.json
[{"type":"tab","id":"1c675269.ba2dae","label":"Flow 1"},{"id":"c1b08416.63cc88","type":"twitter-credentials","z":"1c675269.ba2dae","screen_name":"@arpanroyy"},{"id":"f9ffedf0.ae9f78","type":"mongodb","z":"1c675269.ba2dae","hostname":"127.0.0.1","port":"27017","db":"project","name":""},{"id":"be8b47ce.ba3ca","type":"twitter in","z":"1c675269.ba2dae","twitter":"","tags":"big data","user":"true","name":"Search tweets","topic":"tweets","x":97.5,"y":96,"wires":[["8a77ea77.a27d8"]]},{"id":"8a77ea77.a27d8","type":"watson-language-identification","z":"1c675269.ba2dae","name":"language_detector","x":314.5,"y":96,"wires":[["ad6aee1d.4901e8","a5dc4e40.06498"]]},{"id":"ad6aee1d.4901e8","type":"debug","z":"1c675269.ba2dae","name":"","active":true,"console":"false","complete":"lang.language","x":573.5,"y":97,"wires":[]},{"id":"a5dc4e40.06498","type":"switch","z":"1c675269.ba2dae","name":"check_lang1","property":"lang.language","propertyType":"msg","rules":[{"t":"eq","v":"en","vt":"str"}],"checkall":"true","outputs":1,"x":170.5,"y":236.5,"wires":[["489a62a6.6f9dd4"]]},{"id":"c22e2e4f.d69398","type":"sentiment","z":"1c675269.ba2dae","name":"Gen tweet sentiment score","x":165.5,"y":392,"wires":[["cdc7367c.dbc2a8","e78181a1.9f19d8"]]},{"id":"52610895.b7e","type":"debug","z":"1c675269.ba2dae","name":"","active":true,"console":"false","complete":"lang.confidence","x":582,"y":236,"wires":[]},{"id":"cdc7367c.dbc2a8","type":"function","z":"1c675269.ba2dae","name":"Update payload","func":"var tweeter=msg.topic;\nvar tsmp=msg.tweet.created_at;\nvar num=msg.sentiment.score;\nvar score=num.toString();\nmsg.payload=msg.sentiment.tokens;\nmsg.payload=tweeter+\",\"+msg.payload+\",\"+score+\",\"+tsmp;\nreturn msg;","outputs":1,"noerr":0,"x":397.5,"y":391.5,"wires":[["d802501.31f143","1ea020f8.e6f33f"]]},{"id":"d802501.31f143","type":"file","z":"1c675269.ba2dae","name":"","filename":"/home/aggregato/Documents/sockpuppet/dataset.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":714.5,"y":341.5,"wires":[]},{"id":"1ea020f8.e6f33f","type":"mongodb out","z":"1c675269.ba2dae","service":"_ext_","mongodb":"f9ffedf0.ae9f78","name":"","collection":"twittertokens","payonly":true,"upsert":false,"multi":false,"operation":"store","x":668.5,"y":433.5,"wires":[]},{"id":"489a62a6.6f9dd4","type":"switch","z":"1c675269.ba2dae","name":"check_lang2","property":"lang.confidence","propertyType":"msg","rules":[{"t":"gt","v":"0.9","vt":"num"}],"checkall":"true","outputs":1,"x":355,"y":236,"wires":[["52610895.b7e","c22e2e4f.d69398"]]},{"id":"c4271b23.4c815","type":"function","z":"1c675269.ba2dae","name":"Form keywords string","func":"var tweeter=msg.topic;\nvar tsmp=msg.tweet.created_at;\nvar num=msg.sentiment.score;\nvar score=num.toString();\nmsg.featuresphrase=util.inspect(msg.features.keyword);\nmsg.payload=msg.featuresphrase;\nmsg.payload=tweeter+\",\"+msg.payload+\",\"+score+\",\"+tsmp;\nreturn msg;","outputs":1,"noerr":0,"x":401.5,"y":497.5,"wires":[["690b14ec.01c524","4cdd5a71.983b8c"]]},{"id":"e78181a1.9f19d8","type":"alchemy-feature-extract","z":"1c675269.ba2dae","name":"keywords_extract","page-image":"","image-kw":"","feed":"","entity":"","keyword":true,"title":"","author":"","taxonomy":"","concept":"","relation":"","pub-date":"","doc-sentiment":"","x":172.5,"y":498,"wires":[["c4271b23.4c815"]]},{"id":"690b14ec.01c524","type":"file","z":"1c675269.ba2dae","name":"","filename":"/home/aggregato/Documents/sockpuppet/keywordset.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":579,"y":594,"wires":[]},{"id":"4cdd5a71.983b8c","type":"delay","z":"1c675269.ba2dae","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":621.5,"y":498.5,"wires":[["4eb2ef64.9a8f1"]]},{"id":"4eb2ef64.9a8f1","type":"exec","z":"1c675269.ba2dae","command":"cd /home/aggregato/Documents/sockpuppet; octave script.m","addpay":false,"append":"","useSpawn":"","name":"Run script","x":805.5,"y":499,"wires":[["13697dc7.604b6a"],[],[]]},{"id":"13697dc7.604b6a","type":"debug","z":"1c675269.ba2dae","name":"","active":true,"console":"false","complete":"false","x":985.5,"y":498,"wires":[]}]